<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- CSS -->
    <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- JS -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="bower_components/jspdf/dist/jspdf.min.js"></script>
    <script src="bower_components/jspdf/dist/jspdf.debug.js"></script>
    <script src="wacDocWYSIWYG.js"></script>

    <script src="jquery.js"></script>
</head>
<body>
    <h1></h1>
    <div class="row">
        <div class="col s8 offset-s2">
            <div id="content">
                
            </div>
        </div>
    </div>
</body>
</html> 

